{% extends 'base.html' %} {% block title %}About{% endblock title %}{% block aboutactive %} active {% endblock aboutactive %} {% block body %}
<div class="container">
   <p style= "font-family:Comic Sans MS; font-size:90px; color: #FA255E; " >About The Website </p>
</div>

<div class="container my-4">

<div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7 ">
        <h2 class="featurette-heading">Learn Code In Easiest Way <span class="text-muted"></span></h2>
        <p class="lead">Many People are afraid of coding.They can not start coding bacause of some misunderstanding. But trust me coding is fun.I will try my for your better understanding</p>
      </div>
      <div class="col-md-5 ">
        <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/static/img/ab1.jpg"  alt="Image ">
      </div>
    </div>
<div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Browse Videos in Bangla<span class="text-muted">mdsSumon Coding</span></h2>
        <p class="lead">You can find Videos in Bangla.It will be extra benifit for you.</p>
      </div>
      <div class="col-md-5 order-md-1">
         <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/static/img/ab2.jpg" alt="">
       
      </div>
    </div>
<div class="row featurette d-flex justify-content-center align-items-center ">
      <div class="col-md-7">
        <h2 class="featurette-heading">Learn python,javascript and other language<span class="text-muted">mdsSumon Coding</span></h2>
        <p class="lead">Python one of the most popular language.Because it is easy to learn,easy to understanding.Moreover Machine learning and AI Use Python.Javascript is essential</p>
      </div>
      <div class="col-md-5">
         <img  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/static/img/code1.jpg"alt="">
      </div>
    </div>


    </div>


    </div>


  </div>








 {% endblock body %}