{% extends 'base.html' %} 

{% block title %}blogPost{% endblock title %} {% block body %}
{% load humanize %}
{% load extras %}



<div class="container-fluid">
 
   
<div class="rightnav"  id="phonewidth">
  <nav>
    <button class="btn btn-secondary" disabled><h3>AllPosts</h3></button>
   </nav>
     {% for post in allposts %}
     
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
       


     <li class="nav-item second {% block blogactive %} {% endblock blogactive %}">
      <a class="nav-link" href="/blog/{{post.slug}}">{{post.serial }}. {{post.title}}</a>
    </li>
      </ul>
     </nav>
      
             
     {% endfor %}
          
     

    </div>
    </div>

    <div class="container my-2">
    <div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.timeStamp}} by <a href="/about">{{post.authur}}</a> <span> ({{post.views}} views) </span></p>
        

    <div class="col-md">
    
    <p>{{post.content|safe}}</p></div>
     
      </div>

    </div>
   
<div class="container">
    

    <div id="like-section4">
        {% include "blog/like_section.html" %}
    
    </div>

</div>

<hr>
</div>
<div class="container"><h3>Comment here</h3></div>

<div class="main-comment-section container">

 
       {% include "blog/comment_section.html" %}
 
     


</div>

{% block js %}
<script type="text/javascript">
const currentLocation = location.href;
const menueItem = document.querySelectorAll('a');
const menueLength = menueItem.length
for (let i=0; i<menueLength; i++){
  if(menueItem[i].href === currentLocation){
    menueItem[i].className = "acrtive"
  }
}

</script>
{% endblock js %}
{% endblock body %}