{% extends 'base.html' %}
{% block style %}
<style>

    .h2, h2 {
        font-size: 3rem;
        padding-top: 103px;
    }
</style>

{% endblock style %}

 {% block title %}blogHome{% endblock title %} {% block blogactive %} active
{% endblock blogactive %} {% block body %}
<div class="container my-4">

    <h2>Coding Articles by iCoder</h2>

    <!-- <div class="row mb-2">
        <div class="col-md-6"> -->
    {% for post in posts %}


    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article By {{post.authur}} ({{post.views}} views)</strong>
            <h3 class="mb-0"> <a class="text-dark" href="/blog/{{post.slug}}"> {{post.title}}</a></h3>
            <div class="mb-1 text-muted">{{post.timeStamp}}</div>
            {% comment %} <p class="card-text mb-auto"><div class="preview">{{post.content|safe| truncatechars:100}}</div></p> {% endcomment %}
            <div class="my-2">
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a>
            </div>
        </div>
        <div class="col-auto d-none d-lg-block">
            <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->




        </div>

    </div>
    {% endfor %}

    <!-- </div> -->
  <ul class="pagination">
           {% if posts.has_previous %}

            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                   
           {% endif %}


        
           {% for p in  page_range  %}
           {% if posts.number == p  %}
           
             <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{p}}</a></li>
           {% else %}

                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
           {% endif %}
         
           {% endfor %}

              {% if posts.has_next %}
           
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                   
           {% endif %}

        </ul>
</div>


{% block js %}
    <script>
        let previews = document.getElementsByClassName('preview');
        Array.from(previews).forEach((element)=>{
           element.innerHTML = element.innerText;

        })
    </script>
{% endblock js %}


{% endblock body %}