

{% load humanize %}
{% load extras %}

<div class="container-fluid">
    <div class="form-group row">
      <form method="post" class="comment-form">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
        {{ comment_form.as_p }}
        
        <input type="submit" value="Submit" class="btn btn-primary">
        {% else %}
        <p>Login For Comment</p>
        {% endif %}
      </form>

    </div>
   

  </div>
 
  
{{ comments.count }} Comment{{ comments|pluralize }} 
{% for comment in comments  %}
<blockquote class="blockquote">
  <p class="mb-0">{{ comment.content }}</p>
  <div class="col-md-1" id="imagewidth">
  
   {% if request.user.profile.photo  %}
        <img class="rounded mx-auto d-block w-100"  src="{{ request.user.profile.photo.url }}" alt="user">
        
        {% else %}
          <img class="rounded mx-auto d-block w-100" src="/static/img/bg.png" alt="user">
        {% endif %}
  </div>
  <footer class="blockquote-footer">by <cite title="Source Title">{{ comment.user|capfirst }} <span class="badge badge-secondary">
                {{comment.timestamp|naturaltime}}</span></cite>
  <button type="button" name="button" class="reply-btn btn btn-danger btn-sm ml-2">Reply</button>
  </footer>
</blockquote>
  

<div class="replied-comments ml-5" style="display:none;">
  {% for reply in comment.replies.all %}  
   {% comment %} related name is replies {% endcomment %}
  <blockquote class="blockquote">
  <p class="mb-0"><small>{{ reply.content }}</small></p>
  <small>    <div class="col-md-1" id="imagewidth"><img   class="rounded mx-auto d-block w-75" src="/static/img/bg.png"
    alt="user"></div></small>
  <footer class="blockquote-footer">by <footer><small><cite title="Source Title">{{ reply.user|capfirst }} <span class="badge badge-secondary">
    {{comment.timestamp|naturaltime}}</span> </cite></small></footer></footer>
</blockquote>
  
  {% endfor %}

<div class="form-group row container ml-5">
  <form method="post" class="reply-form">
    {% csrf_token %}
    <input type="hidden" name="comment_id" value="{{ comment.id }}">
    {{ comment_form.as_p }}
    {% if request.user.is_authenticated %}
  
    
    <input type="submit" value="Submit" class="btn btn-primary">
    {% else %}
    <p>Login For Comment</p>
    {% endif %}
  </form>

</div>

</div>

{% endfor %}